.Header {
    position: fixed;
    height: 60px;
    width: 100%;
    padding: 40px 0;
    z-index: 100;
}

.HeaderGroup {
    display: grid;
    grid-template-columns: repeat(4, auto);
    align-items: center;
    justify-items: center;
    margin: 0 auto;
    max-width: 800px;
}

.Header a {
    color: white;
    text-decoration: none;
}

.Header button {
    padding: 8px 12px;
    background-color:#5F3893;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 4px;
}