@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');


body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  line-height: 1.4;
}

a {
  color: #5334F5;
  font-weight: 600;
}

.Hero {
  background: url('https://source.unsplash.com/random');
  height: 600px;
  background-size: cover;
  background-position: center;
  margin: 0px;
}

.HeroGroup {
  margin: 0 auto;
  max-width: 500px;
  padding: 150px 50px;
  text-align: center;
}

.Hero h1 {
  margin: 0;
  color: white;
  font-size: 60px;
  line-height: 1.2;
}

.Hero p {
  color: rgba(255, 255, 255, .8);
  line-height: 1.2;
  font-size: 30px;
}

.Hero a {
  font-size: 17px;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  background: rgba(0, 0, 0, .7);
  padding: 9px 20px;
  text-decoration: none;
  border: 1px solid rgba(255, 255, 255, .25);
  border-radius: 20px;
}




